<div ng-controller="Top50Controller" id='top50Controller'>
    <h4>Top 50 profiles</h4>
    <div class='row'>
        <div class='col-xs-6 well' style='margin-left: 30px'>
           <table class='table table-bordered'>
                        <thead>
                            <tr>
                                <th>Step</th>
                                <th>Profiles</th>
                                <th>Profile Id</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat='i in top50Profiles'>
                                <td>{{i.steps}}</td>
                                <td>{{i.profiles}}</td>
                                <td><a href='{{i.profileLink}}' style='color: #609'>{{i.profileId}}</a></td>
                            </tr>
                        </tbody>
            </table>
        </div>
    </div>
</div>