<!doctype html>
<html lang="en" ng-app="geniframework">
   <title>Geni Forest Density Calculator</title>
    <head>
        <script type="text/javascript" src="/static/js/lib/angular.js"></script>
        <script type="text/javascript" src="/static/js/app.js"></script>
        <link rel="stylesheet" href="/static/css/custom.css">
        <!-- Loading Bootstrap -->
        <link href="/static/css/bootstrap.css" rel="stylesheet">
        <!-- Loading Flat UI -->
        <link href="/static/css/flat-ui.css" rel="stylesheet">
        <link href="/static/css/demo.css" rel="stylesheet">
    </head>
    <body>
        <div class='container'>
            <div id='header' class='row'>
                <div class='col-xs-12'>
                    <nav class='navbar navbar-inverse navbar-embossed' role='navigation'>
                        <div class='col-xs-6'>
                            <div class="navbar-header ">
                                <button type="button" class="navbar-toggle" data-toggle="collapse"
                                        data-target="#navbar-collapse-01">
                                    <span class="sr-only">Toggle navigation</span>
                                </button>
                                <a class='navbar-brand' href='javascript:void(0)'>Geni Forest Density Calculator</a>
                            </div>
                        </div>
                        <div class='col-xs-6'>
                            <div class="collapse navbar-collapse" id="navbar-collapse-01">
                              <ul class="nav navbar-nav navbar-right">
                                <li><a href="#/unique">Profiles</a></li>
                                <li><a href="#/top">Top 50</a></li>
                                <li><a href="#/home">Family</a></li>
                                <li><a href="/logout">Logout</a></li>
                               </ul>
                            </div>
                        </div>
					</nav>
                </div>
            </div>
            <div id="loading" style="position: center; width:100px; top: 0px; display: none; background: gold; padding: 0.1em; font-weight: bold;">Loading...</div>
            <div id='pageContent' class='row1'>
                <div ng-view=""></div>
            </div>
            </div>
		<footer>
      		<hr />
      		<p class=''><strong>&copy; Geni Forest Density Calculator</strong></p>
		</footer>

        </div>
        <script src="/static/js/lib/jquery-1.8.3.min.js"></script>
        <script src="/static/js/lib/jquery-ui-1.10.3.custom.min.js"></script>
        <script src="/static/js/lib/bootstrap.min.js"></script>
</body>
</html>