<!doctype html>
<html>
    <head>
         <title>Geni Forest Density Calculator Login</title>
         <link href="/static/css/bootstrap.css" rel="stylesheet">
         <link href="/static/css/demo.css" rel="stylesheet">
        <link href="/static/css/flat-ui.css" rel="stylesheet">
        <link href="/static/css/custom.css" rel="stylesheet">
        <script src="/static/js/lib/jquery-1.8.3.min.js"></script>
        <script src="/static/js/lib/bootstrap.min.js"></script>

        <style type="text/css">
            body{background:url('/static/images/backgroundImgs/subtle_dots.png') repeat;}
        </style>
    </head>
    <body>
        <div class='container'>
            <div id='header' class='row'>
                <div class='col-xs-12'>
                    <nav class='navbar navbar-inverse navbar-embossed' role='navigation'>
                        <div class='col-xs-6'>
                            <div class="navbar-header ">
                                <button type="button" class="navbar-toggle" data-toggle="collapse"
                                        data-target="#navbar-collapse-01">
                                    <span class="sr-only">Toggle navigation</span>
                                </button>
                                <a class='navbar-brand' href='javascript:void(0)'>Geni Forest Density Calculator</a>
                            </div>
                        </div>
                        <div class='col-xs-6'>
                            <div class="collapse navbar-collapse" id="navbar-collapse-01">
                              <ul class="nav navbar-nav navbar-right">
                                  <li><a href="/login">Login</a></li>
                              <li><a href="javascript:" data-toggle="modal"
                                       data-target="#contactForm">Contact</a></li>
                               </ul>
                            </div>
                        </div>
                    </nav>
                    <p>Geni.com <a href='http://www.geni.com/worldfamilytree' target="blank">World Family Tree</a> is a
                    unique collaborative, largely public collection of connected family trees.
                    The Geni Forest Density Calculator (GFDC) is designed to test the density of
                    the forest surrounding a profile.  The density at a particular profile node is
                    calculated as the number of unique profile nodes within n steps of the node.
                    All members of a node’s immediate family (parents, siblings, spouse/partner,
                    and children) are defined as one step away from the node.</p>
                    <p>Please note that the GFDC may be limited by privacy settings or
                   	by anomalies in the Geni database.</p>
                </div>
            </div>
            <div class="modal fade" id="contactForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                     aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="contactFormLabel">Contact us</h4>
                      </div>
                      <div class="modal-body">
                        <script type="text/javascript" src="http://form.jotform.us/jsform/40618781407154"></script>
                      </div>
                      <!--<div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                      </div>-->
                    </div>
                  </div>
                </div>
            <footer style='bottom: 0'>
                <hr />
                <p class=''><strong>&copy; GFDC</strong></p>
            </footer>
        </div>
    </body>
</html>